<a href="catalogue.html">Product Page (0% FE completed, 0% BE completed)</a> <br>
<a href="product_view.html">Item Page (0% FE completed, 0% BE completed)</a> <br>
<a href="cart.html">Cart Page (% FE completed, 0% BE completed)</a> <br>
<a href="cart.html">Checkout Page (0% FE completed, 0% BE completed)</a> <br>
<a href="login.html">Admin Login page (0% FE completed, 0% BE completed)</a> <br>
<a href="admin_products.html">Admin Dashboard (0% FE completed, 0% BE completed)</a> <br>
<a href="admin_orders.html">Admin Order Detail (0% FE completed, 0% BE completed)</a> <br>